#dtVerticalScrollExample th:first-child{
    width: 10px;
}
#dtVerticalScrollExample th:last-child{
    width: 10px;
}
#dtVerticalScrollExample{
    margin-top: 15px;
}
.table-title{
    margin-top: 15px;
}
.rounded{
    max-width: 330px;
}
#myTab{
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-check-label{
    margin-left: 15px;
}
.percentage{
    margin-right: 10px!important;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}